<style>
    .Test.Card{
        height:13rem;
        width:18rem;
    
    }
    .Edit-.Container{
        max-width: 50.5vw;
        width:100%;
   }
    .Test.Card-Container{
        grid-template-columns: repeat(2,1fr);
        max-height:70vh;
    }
    .Test.input_submit{
        display:flex;

        width:60%;
        align-self: center;
    }
    
</style>
{% extends '/Base.html'%}
{% block link %}<link rel="stylesheet" href="../static/style/ViewPages.css">{% endblock link %}
{% block body%}
<div class="Account-Container">
    <!-- <div class="multi-form"> -->
        <form class= "Search- Form" action="/SearchTest" method="POST">
            {% if success == None%}
            <h2 style="color: red;">{{error}}</h2>
            {% elif error == None %}
                <h2 style="color: green;">{{success}}</h2>
            {% endif %}
            <input type="hidden" name="page" value="EditTest">
            <input type="number" name="testid" placeholder="Test ID" class="input_field" required> <br>
            <input type="submit" value="Search" class="input_submit">
        </form>

        <form class="Edit- Form" action="/EditTest" method="POST">
            {% if worked == None %}
                <h2 style="color: red;">{{ nowork }}</h2>
            {% elif nowork == None %}
                <h2 style="color: green;">{{ worked }}</h2>
            {% endif %}
            <input type="number" name="testid" placeholder="Test ID" class="input_field" required> <br>
            <!-- <input type="number" name="teacherid" placeholder="Teacher ID" class="input_field" required> <br> -->
            <input type="text" name="QID" placeholder="QID" class="input_field" required> <br>
            <input type="text" name="quest" placeholder="Question" class="input_field" required> <br>
            <input type="text" name="ans" placeholder="Answer" class="input_field" required> <br>
            <input type="submit" value="Change" class="input_submit">
        </form>
    <!-- </div>    -->
    {% if Test %}
<div class="Edit- Container">
    <div class="Card-Container">
       
            {% for t in Test %}
            <ul class ="Test Card">
                
                    <p>TEST ID: <strong>{{t[1]}}</strong></p>
                        <p>QID: <strong>{{t[0]}}</strong></p>
                        <p>QUESTION: <strong>{{t[2]}}</strong></p>
                        <p>ANSWER: <strong>{{t[3]}}</strong></p>
                        <p>TEACHER ID: <strong>{{t[4]}}</strong></p>
                    
                
            </ul>
            {% endfor %}
        </div>
    </div>
        {% else %}
        <div class="Edit- Container">
            <p>No questions found for this TestID.</p>
        </div>
        {% endif %}
    
        
    
</div>
{% endblock %}