<title>{% block title %} Home {% endblock %}</title>

{% extends 'Base.html' %}

{% block body %}
<div class = "Body-Container">
<div class = "Login-Container">
    <h1>Welcome</h1>
    <form class ="SignUpLogIn">
        <input class="input_field" type="text" placeholder="Email" required/>
        <input class="input_field" type="password" placeholder="Password" required>
        <input class="input_submit Login"type = "Submit" value="Log In"><button onclick="window.location.href = '/Register'" class ="input_submit">Sign Up</button>
    </form>
</div>

</div>
{% endblock %}