<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/header.css">
    <title>Login</title>
</head>
<body>
    <div class = "Body-Container">
        <div class = "Login-Container">
            <h1>Welcome</h1>
            <form class ="SignUpLogIn" action="/" method="POST">
                <input class="input_field" type="text" placeholder="Email" name ="Email"required/>
                <input class="input_field" type="password" placeholder="Password" name="Password" required>
                <input class="input_submit Login"type = "Submit" value="Log In"><button onclick="window.location.href = '/Register'" class ="input_submit">Sign Up</button>
            </form>
        </div>
        
        </div>
</body>
</html>



