{% extends '/Base.html'%}
{% block body%}
<div class="body">
    {% if success == None%}
        <h2>{{error}}</h2>
    {% elif error == None %}
        <h2>{{success}}</h2>
    {% endif %}
    <form class= "formContainer" action="/MakeTest" method="POST">
        <input type="number" name="testid" placeholder="Test ID" class="input_field" required> <br>
        <input type="number" name="teacherid" placeholder="Teacher ID" class="input_field" required> <br>
        <input type="text" name="quest" placeholder="Question" class="input_field" required> <br>
        <input type="text" name="ans" placeholder="Answer" class="input_field" required> <br>
        <input type="submit" value="Add" class="input_submit">
        <!-- <input type="submit" value="Create" class="input_submit"> -->
    </form>
</div>
{% endblock %}