<title>{% block title %} Taking {{Test[0][0].title()}} {% endblock %}</title>
{% extends 'Base.html' %}
{% block link %}<link rel="stylesheet" href="../static/style/ViewPages.css">{% endblock link %}
{% block body %}
{% if TestComplete %}
<div class="Body-Container">
    <h2>Test Complete</h2>
    <h2>{{Result}}%</h2>
</div>
{% else %}
<div class = "Body-Container">
<form class= "Form" action="/TakeTest" method="POST">
    
    {%if Error %}
    <H2>{{Error}}</H2>
    {% else %}
    <h2>Test Name: {{Test[0][0].title()}}</h2>
    {% for info in Test %}
    

    <p><Strong>{{info[4]}}</Strong> : {{info[3]}}</p>
    <input class="input_field" type="text" name = "Answer{{info[4]}}" placeholder="Answer Question for {{info[4]}}">
    {% endfor %}
    <input class = "input_submit" type="submit" Value ="Submit Test">
    {% endif %}
</form>
</div>
{% endif %}
{% endblock %}