<style>
    .Test.Card{
        height: 11rem; ;
    }
    .Test.Container{
        max-width: 50.5vw;
        width:100%;
    }
    .Test.Card-Container{
        grid-template-columns: repeat(2,1fr);
        max-height:70vh;
    }
    .Test.input_submit{
        display:flex;

        width:60%;
        align-self: center;
    }
</style>
<title>{% block title %} Tests {% endblock %}</title>

{% extends 'Base.html' %}
{% block link %}<link rel="stylesheet" href="../static/style/ViewPages.css">{% endblock link %}
{% block body %}
<div class="Body-Container">
<div class ="Test Container">
    <h3>AllTests</h3>
        <section class = "Test Card-Container">
            
        {% for Test in AllTests %}
    
        <ul class ="Test Card">
        <p>Test Name : <strong>{{Test[0]}}</strong></p>
        <p>Creator: <strong>{{Test[2]}}</strong></p> 
        <p>Number of Questions : <strong>{{Test[3]}}</strong></p> 
        {% if g.Student%}
        {% if Test[6] == 0 %}
        <a id="TakeA" class="Test input_submit" href="{{url_for('TestTaking',TestID = Test[4]) }}">Take Test </a>
        {%else%}
        <p>Grade: {{Test[5]}}%</p>
        {% endif %}
        {% endif %}
        </ul>
        {% endfor %}
    </section>
    </div>
</div>
{% endblock %}