<style>
    .Test.Card{
        height: 11rem; ;
    }
</style>
<title>{% block title %} Tests {% endblock %}</title>

{% extends 'Base.html' %}
{% block link %}<link rel="stylesheet" href="../static/style/ViewPages.css">{% endblock link %}
{% block body %}
<div class="Body-Container">
<div class ="Student Container">
    <h3>AllTests</h3>
        <section class = "Test Card-Container">
            
        {% for Test in AllTests %}
    
        <ul class ="Test Card">
        <p>Test Name : <strong>{{Test[0]}}</strong></p>
        <p>Creator: {{Test[2]}}</p> 
        <p>Number of Questions : {{Test[3]}}</p> 
        {% if g.Student%}
        <a id="TakeA" href="{{url_for('TestTaking',TestID = Test[1]) }}"<button class=" input_submit">Take Test</button></a>
        {% else %}
        {% endif %}
        </ul>
        {% endfor %}
    </section>
    </div>
</div>
{% endblock %}